# Node modules
node_modules/

# Build output
dist/

# Vite
.vite/

# Logs
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock

node_modules
dist
dist-ssr
*.local


# Dependency directories
.vscode/
.idea/

# Environment files
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

